.card-container{
    max-width: 176px;
    display: flex;
    flex-direction: column;
    /* background-color: #f81010; */
    flex: 0 0 auto;

}

.card-image{
    width: 176px;
    /* height: 235px; */
    margin-bottom: 2px;
    /* background-image: url("../images/image1.png");
    background-size: contain;
    padding: 10px; */
    position: relative;
    border-radius: 14px;
    overflow: hidden;
}

.card-image img{
    width: 100%;
}

.card-image .badge{
    width: fit-content;
    text-transform: uppercase;
    background-color: #FFFFFF;
    padding: 4px 6px;
    color: #222222;
    font-size: 1em;
    font-weight: 400;
    position: absolute;
    top: 10px;
    left: 10px;
}

.card-reviews{
    display: flex;
    align-items: center;
    color: #918E9B;
    font-size: 1.2em;
    font-weight: 300;
    gap: 4px;
    margin-bottom: 4px;
}
.card-reviews span{
    color: #222222;
}

.card-title{
    color: #222222;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 4px;
}

.card-rate{
    color: #222222;
    font-size: 1.2em;
    font-weight: 300;
}

.card-rate span{
font-weight: 600;
}